#formBlock{
    height: 500px;
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#btnGroup {
    padding-top: 10px;
}
#collapseFormRegistration {
    padding-top: 10px;
}